<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/individual.css" />
	<title>Preview Title</title>
</head>
<body>
<header>
	<section class="nav-main cf">
		<div class="wrap">
			<h1 class="main-title"><a href="#">Maihama Orleans<span> (LastaFlute Example)</span></a></h1>
			<ul class="nav-home">
				<li><a href="../product/product_list.html"><span class="link-block">Products</span></a></li>
				<li><a href="../member/member_list.html"><span class="link-block">Members</span></a></li>
				<li><a href="../withdrawal/withdrawal.html"><span class="link-block">Withdrawal</span></a></li>
			</ul>
			<ul class="nav-user">
				<li>
					<p class="nameHeader">Welcome, Mr.Guest</p>
					<ul class="child">
						<li><a href="#">Profile</a></li>
						<li><a href="#">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
</header>
<div class="contents">
	<h2 class="content-title">Sign In</h2>
	<section class="sign-in-box">
		<form class="signin-form" method="post">
			<ul>
				<li>
					<span>Account</span>
					<input id="account" type="text" name="account" placeholder="input Pixy"/>
					<span id="errors-account" class="errors"/>
				</li>
				<li>
					<span>Password</span>
					<input type="password" name="password" placeholder="input sea"/>
					<span id="errors-password" class="errors"/>
				</li>
				<li>
					<label>Remember Me? <input type="checkbox" name="rememberMe"/></label>
				</li>
				<li>
					<input type="submit" name="signin" value="Sign in"/>
				</li>
			</ul>
		</form>
	</section>
</div>
<footer>
	<div class="wrap">
		<ul class="footer-link">
			<li><a href="http://dbflute.seasar.org/">DBFlute Top</a></li>
			<li><a href="http://dbflute.seasar.org/lastaflute">LastaFlute Top</a></li>
		</ul>
		<p class="copyright">&copy; LastaFlute project</p>
	</div>
</footer>
</body>
</html>