<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
	<section class="nav-main cf">
		<div class="wrap">
			<h1 class="main-title"><a href="@{/}">Maihama Orleans<span> (LastaFlute Example)</span></a></h1>
			<ul class="nav-home">
				<li><a href="@{/product/list/}"><span class="link-block">Products</span></a></li>
				<li><a href="@{/member/list/}"><span class="link-block">Members</span></a></li>
				<li><a href="@{/withdrawal/}"><span class="link-block">Withdrawal</span></a></li>
			</ul>
			<ul class="nav-user">
				<li>
					<p>Welcome, <span id="nav-user-name">Mr.Guest</span></p>
					<ul class="child">
						<li><a href="@{/profile/}">Profile</a></li>
						<li><a href="@{/signout/}">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
</header>
<footer>
	<div class="wrap">
		<ul class="footer-link">
			<li><a href="http://dbflute.seasar.org/">DBFlute Top</a></li>
			<li><a href="http://dbflute.seasar.org/lastaflute">LastaFlute Top</a></li>
		</ul>
		<p class="copyright">&copy; LastaFlute project</p>
	</div>
</footer>
<script src="../../../js/jquery-2.1.3.min.js"/>
<script src="../../../js/common.js"/>
</body>
</html>